build
CMakeLists.txt.user*
cmake-build-debug

# IDE
.idea

# SmartCameraOperator for Horses and Riders
# Data, Weights, other stuff

data/Kirchhellen*.avi
data/*.names
data/yolov3.cfg
data/yolov3.weights
